# Partie 1: Compréhension du métier (Business Understanding)

### 1.1 Description du métier
Le dataset représente un système de location de vélos à Washington D.C., où les utilisateurs peuvent louer et rendre des vélos à différents points. Des facteurs environnementaux et contextuels comme la saison, la météo, et les jours fériés influencent le comportement de location.

### 1.2 Problématique
Prédire le nombre de vélos loués en fonction des conditions environnementales et calendaires.

### 1.3 Objectifs métier et objectifs de science des données

| **Business Objective (BO)** | **Data Science Objective (DSO)** |
|-----------------------------|----------------------------------|
| **BO1**: Optimiser la gestion des vélos disponibles en fonction de l'environnement et des infrastructures pour anticiper la demande. | **DSO1**: Utiliser les nouvelles variables (infrastructures de vélo, accessibilité des transports publics, zone d’utilisation, pollution de l’air) pour prédire le nombre de locations de vélos. |
| **BO2**: Planifier la maintenance des vélos selon l'utilisation par segment d'utilisateurs et améliorer la satisfaction. | **DSO2**: Identifier les niveaux d'activité des utilisateurs et leurs habitudes (`user_activity_level`, `user_satisfaction`) pour ajuster la maintenance et améliorer la qualité du service. |
| **BO3**: Analyser l'impact des facteurs socio-économiques et environnementaux sur la location de vélos. | **DSO3**: Modéliser la relation entre le **niveau de revenu**, l'**indice de pollution**, et d'autres variables socio-économiques (`income_level`, `air_pollution_index`, `public_transport_access`) sur l'utilisation des vélos. |

# Partie 2: Compréhension des données (Data Understanding)

## 2.1 Importer les données

In [1]:
import pandas as pd
data = pd.read_csv('datahour.csv')

## 2.2 Description des Variables du Dataset Bike Sharing (version init)


| **Nom de la variable** | **Description** |
|------------------------|-----------------|
| **Instant**            | Identificateur unique pour chaque enregistrement. |
| **dteday**             | Date précise de la location des vélos. |
| **season**             | Saison de l'année, codée de 1 à 4 (1: printemps, 2: été, 3: automne, 4: hiver). |
| **yr**                 | Année (0 pour 2011, 1 pour 2012). |
| **mnth**               | Mois de l'année (1 à 12). |
| **hr**                 | Heure de la journée (0 à 23). |
| **holiday**            | Indique si le jour est un jour férié (0 : non, 1 : oui). |
| **weekday**            | Jour de la semaine (0 pour dimanche, 6 pour samedi). |
| **workingday**         | Indique si le jour est un jour ouvrable (ni week-end, ni jour férié). |
| **weathersit**         | Situation météorologique : <br> 1: Clair, partiellement nuageux <br> 2: Brume + nuages <br> 3: Pluie légère, neige légère <br> 4: Fortes précipitations. |
| **temp**               | Température normalisée (valeurs divisées par 41°C, max possible). |
| **atemp**              | Température ressentie normalisée (valeurs divisées par 50°C, max possible). |
| **hum**                | Humidité relative normalisée (valeurs divisées par 100, max possible). |
| **windspeed**          | Vitesse du vent normalisée (valeurs divisées par 67, max possible). |
| **casual**             | Nombre de locations par des utilisateurs occasionnels. |
| **registered**         | Nombre de locations par des utilisateurs enregistrés. |
| **cnt**                | Nombre total de vélos loués (inclus utilisateurs occasionnels et enregistrés). |

### Remarque : 
Le dataset contient initialement des données temporelles telles que : `dteday` (date), `season` (saison), `yr` (année), `mnth` (mois), `hr` (heure), `holiday` (jour férié), `weekday` (jour de la semaine), et `workingday` (jour ouvré). Ces colonnes seront remplacées par d'autres variables non temporelles simulées afin d'enrichir le dataset avec des informations contextuelles et socio-économiques.

### Correction du Dataset :

1. **Supprimer les colonnes temporelles** :
   Les colonnes suivantes, liées au temps, seront supprimées du dataset :
   - `dteday` (date)
   - `season` (saison)
   - `yr` (année)
   - `mnth` (mois)
   - `hr` (heure)
   - `holiday` (jour férié)
   - `weekday` (jour de la semaine)
   - `workingday` (jour ouvré)

2. **Remplacer par d'autres colonnes non temporelles** :
   Afin d'enrichir le dataset, les colonnes supprimées seront remplacées par des variables non temporelles simulées :
   - `user_activity_level` : Niveau d'activité des utilisateurs (faible, moyen, élevé)
   - `user_type` : Type d'utilisateur (occasionnel ou fréquent)
   - `income_level` : Niveau de revenu moyen des utilisateurs (entre 20 000 et 100 000)
   - `zone_type` : Type de zone (résidentiel ou commercial)
   - `user_satisfaction` : Indice de satisfaction des utilisateurs (entre 1 et 5)
   - `bike_infrastructure_score` : Score de l'infrastructure cyclable (entre 1 et 10)
   - `air_pollution_index` : Indice de pollution de l'air (entre 1 et 100)
   - `public_transport_access` : Accessibilité des transports publics (entre 1 et 10)

Ces nouvelles colonnes ajoutent des informations contextuelles, socio-économiques et environnementales afin de mieux modéliser la demande de vélos.

In [2]:
# Afficher les colonnes existantes
print("Colonnes existantes:", data.columns.tolist())

# Supprimer les colonnes uniquement si elles existent
columns_to_drop = ['dteday', 'season', 'year', 'month', 'hr', 'holiday', 'day_of_week', 'workingday']
existing_columns = [col for col in columns_to_drop if col in data.columns]

if existing_columns:
    data = data.drop(columns=existing_columns,inplace=False)
else:
    print("Aucune colonne à supprimer.")

Colonnes existantes: ['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']

In [3]:
import pandas as pd
import numpy as np

# 1. Ajout d'une colonne simulée pour le niveau d'activité des utilisateurs
data['user_activity_level'] = np.random.choice(['faible', 'moyen', 'élevé'], size=len(data))

# 2. Ajout d'une colonne simulée pour le type d'utilisateur (occasionnel ou fréquent)
data['user_type'] = np.random.choice(['occasionnel', 'frequent'], size=len(data))

# 3. Ajout d'une colonne simulée pour le niveau de revenu (par exemple, entre 20000 et 100000 unités monétaires)
data['income_level'] = np.random.randint(20000, 100000, size=len(data))

# 4. Ajout d'une colonne simulée pour le type de zone (résidentiel ou commercial)
data['zone_type'] = np.random.choice(['residentiel', 'commercial'], size=len(data))

# 5. Ajout d'une colonne simulée pour l'indice de satisfaction des utilisateurs (entre 1 et 5)
data['user_satisfaction'] = np.random.randint(1, 6, size=len(data))  # Valeurs entières entre 1 (faible) et 5 (élevé)

# 6. Ajout d'une colonne simulée pour le nombre d'infrastructures de vélo dans la zone
data['bike_infrastructure_score'] = np.random.randint(1, 11, size=len(data))  # Valeur entre 1 et 10

# 7. Ajout d'une colonne simulée pour le niveau de pollution atmosphérique (entre 1 et 100)
data['air_pollution_index'] = np.random.randint(1, 101, size=len(data))  # Valeur entre 1 (faible pollution) et 100 (haute pollution)

# 8. Ajout d'une colonne simulée pour l'accessibilité des transports publics (entre 1 et 10)
data['public_transport_access'] = np.random.randint(1, 11, size=len(data))  # Valeur entre 1 (faible accessibilité) et 10 (excellente accessibilité)

data.to_csv('datahour_v1.csv', index=False)  # Sauvegarde sans l'index

## 2.2 Description des Variables du Dataset Bike Sharing (version 1)

| **Nom de la Variable**              | **Description**                                                                                   | **Type de Donnée**   | **Plage de Valeurs**                       |
|-------------------------------------|---------------------------------------------------------------------------------------------------|----------------------|--------------------------------------------|
| `Instant`                           | Identificateur unique pour chaque enregistrement                                                 | Numérique            | 1, 2, 3, ... (identifiants uniques)       |
| `temp`                              | Température normalisée (valeurs divisées par 41°C, max possible)                                | Numérique            | entre 0 et 1                               |
| `atemp`                             | Température ressentie normalisée (valeurs divisées par 50°C, max possible)                     | Numérique            | entre 0 et 1                               |
| `hum`                               | Humidité relative normalisée (valeurs divisées par 100, max possible)                           | Numérique            | entre 0 et 1                               |
| `windspeed`                         | Vitesse du vent normalisée (valeurs divisées par 67, max possible)                             | Numérique            | entre 0 et 1                               |
| `casual`                            | Nombre de locations par des utilisateurs occasionnels                                             | Numérique            | 0 et plus                                  |
| `registered`                        | Nombre de locations par des utilisateurs enregistrés                                             | Numérique            | 0 et plus                                  |
| `cnt`                               | Nombre total de vélos loués (inclus utilisateurs occasionnels et enregistrés)                   | Numérique            | 0 et plus                                  |
| `user_activity_level`               | Niveau d'activité des utilisateurs (faible, moyen, élevé)                                       | Catégorique          | faible, moyen, élevé                       |
| `user_type`                         | Type d'utilisateur (occasionnel ou fréquent)                                                    | Catégorique          | occasionnel, fréquent                      |
| `income_level`                      | Niveau de revenu moyen des utilisateurs                                                          | Numérique            | entre 20 000 et 100 000                   |
| `zone_type`                        | Type de zone (résidentiel ou commercial)                                                        | Catégorique          | résidentiel, commercial                    |
| `user_satisfaction`                | Indice de satisfaction des utilisateurs                                                           | Numérique            | entre 1 et 5                               |
| `bike_infrastructure_score`         | Score de l'infrastructure cyclable                                                                | Numérique            | entre 1 et 10                              |
| `air_pollution_index`              | Indice de pollution de l'air                                                                      | Numérique            | entre 1 et 100                             |
| `public_transport_access`           | Accessibilité des transports publics                                                               | Numérique            | entre 1 et 10                              |
| `weathersit`                       | Situation météorologique : <br> 1: Clair, partiellement nuageux <br> 2: Brume + nuages <br> 3: Pluie légère, neige légère <br> 4: Fortes précipitations | Numérique (Catégorique)          | 1, 2, 3, 4                                 |

## 2.3 Dimensions des données

In [4]:
import pandas as pd

data = pd.read_csv('datahour_v1.csv') 
print("Dimensions des données: (Nbr lignes, Nbr colonnes)", data.shape)

Dimensions des données: (Nbr lignes, Nbr colonnes) (17484, 20)

## 2.4 Afficher les premières lignes

In [5]:
data.head()

,instant,yr,mnth,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,user_activity_level,user_type,income_level,zone_type,user_satisfaction,bike_infrastructure_score,air_pollution_index,public_transport_access
0,1.0,0.0,1.0,6.0,1.0,0.24,0.2879,0.81,0.0,3.0,13.0,16.0,moyen,occasionnel,60975,residentiel,3,4,82,8
1,2.0,0.0,1.0,6.0,1.0,0.22,0.2727,0.80,0.0,8.0,32.0,40.0,élevé,occasionnel,66100,residentiel,3,6,95,4
2,3.0,0.0,1.0,6.0,1.0,0.22,0.2727,0.80,0.0,5.0,27.0,32.0,faible,occasionnel,89470,commercial,4,6,55,2
3,4.0,0.0,1.0,6.0,1.0,0.24,0.2879,0.75,0.0,3.0,10.0,13.0,élevé,frequent,29806,residentiel,1,5,15,6
4,5.0,0.0,1.0,6.0,1.0,0.24,0.2879,0.75,0.0,0.0,1.0,1.0,élevé,frequent,53531,commercial,4,4,40,4

## 2.5 Afficher les dernières lignes

In [6]:
data.tail()

,instant,yr,mnth,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,user_activity_level,user_type,income_level,zone_type,user_satisfaction,bike_infrastructure_score,air_pollution_index,public_transport_access
17479,10799.0,1.0,3.0,6.0,2.0,0.40,0.4091,0.76,0.1940,17.0,65.0,82.0,élevé,occasionnel,95179,commercial,3,8,38,10
17480,8080.0,0.0,12.0,4.0,1.0,0.22,0.2121,0.60,0.2239,11.0,233.0,244.0,faible,frequent,36389,commercial,5,7,38,1
17481,4055.0,0.0,6.0,3.0,1.0,0.74,0.7121,0.74,0.1343,NaN,230.0,282.0,moyen,frequent,22312,residentiel,4,3,84,7
17482,NaN,1.0,8.0,3.0,1.0,0.76,0.6818,0.48,0.1940,91.0,340.0,431.0,élevé,occasionnel,97987,commercial,3,3,16,4
17483,4504.0,0.0,7.0,1.0,1.0,0.86,0.8182,0.50,0.2537,22.0,119.0,141.0,moyen,occasionnel,21604,residentiel,1,8,87,1

## 2.6 Statistiques descriptives des colonnes

In [7]:
data.describe()

,instant,yr,mnth,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,income_level,user_satisfaction,bike_infrastructure_score,air_pollution_index,public_transport_access
count,17131.000000,17141.000000,17151.000000,17130.000000,17130.000000,17152.000000,17118.000000,17169.000000,17146.000000,17127.000000,17168.000000,17129.000000,17484.000000,17484.000000,17484.000000,17484.000000,17484.000000
mean,8678.806666,0.502596,6.540493,3.000817,1.425803,0.497385,0.476085,0.626772,0.190063,35.624394,153.424569,189.441065,59838.426905,2.993137,5.472260,50.346831,5.499485
std,5013.504186,0.500008,3.438079,2.006237,0.639642,0.192669,0.171818,0.192674,0.122163,49.201808,150.831175,181.268088,23034.371285,1.410755,2.866409,28.811067,2.863608
min,1.000000,0.000000,1.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,20001.000000,1.000000,1.000000,1.000000,1.000000
25%,4342.500000,0.000000,4.000000,1.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000,39954.250000,2.000000,3.000000,26.000000,3.000000
50%,8664.000000,1.000000,7.000000,3.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000,59888.500000,3.000000,5.000000,51.000000,6.000000
75%,13024.500000,1.000000,10.000000,5.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000,79899.000000,4.000000,8.000000,75.000000,8.000000
max,17379.000000,1.000000,12.000000,6.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000,99998.000000,5.000000,10.000000,100.000000,10.000000

## 2.7 Information sur les types de données

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17484 entries, 0 to 17483
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   instant                    17131 non-null  float64
 1   yr                         17141 non-null  float64
 2   mnth                       17151 non-null  float64
 3   weekday                    17130 non-null  float64
 4   weathersit                 17130 non-null  float64
 5   temp                       17152 non-null  float64
 6   atemp                      17118 non-null  float64
 7   hum                        17169 non-null  float64
 8   windspeed                  17146 non-null  float64
 9   casual                     17127 non-null  float64
 10  registered                 17168 non-null  float64
 11  cnt                        17129 non-null  float64
 12  user_activity_level        17484 non-null  object
 13  user_type                  17484 non-null  object
 14  income_level               17484 non-null  int64
 15  zone_type                  17484 non-null  object
 16  user_satisfaction          17484 non-null  int64
 17  bike_infrastructure_score  17484 non-null  int64
 18  air_pollution_index        17484 non-null  int64
 19  public_transport_access    17484 non-null  int64
dtypes: float64(12), int64(5), object(3)
memory usage: 2.7+ MB

## 2.8 Vérification des doublons

In [9]:
doublons = data.duplicated().sum()
print(f"Nombre de doublons : {doublons}")

Nombre de doublons : 0

## 2.9 Vérification des valeurs manquantes

In [10]:
manquants = data.isnull().sum()
print("Valeurs manquantes par colonne :\n", manquants)

Valeurs manquantes par colonne :
 instant                      353
yr                           343
mnth                         333
weekday                      354
weathersit                   354
temp                         332
atemp                        366
hum                          315
windspeed                    338
casual                       357
registered                   316
cnt                          355
user_activity_level            0
user_type                      0
income_level                   0
zone_type                      0
user_satisfaction              0
bike_infrastructure_score      0
air_pollution_index            0
public_transport_access        0
dtype: int64

# Partie 3: Préparation des données

## 3.1 Nettoyage des données

### 3.1.1 Suppression des doublons

In [11]:
data = data.drop_duplicates()

### 3.1.2 Vérification s'il y a encore des doublons après suppression

In [15]:

# Vérifier les doublons
nombre_doublons = data.duplicated().sum()

# Vérifier les valeurs manquantes
valeurs_manquantes = data.isnull().sum()

# Afficher les résultats
print(f"Nombre de doublons : {nombre_doublons}")
print("Valeurs manquantes par colonne :\n", valeurs_manquantes)

Nombre de doublons : 0
Valeurs manquantes par colonne :
 instant                      353
yr                           343
mnth                         333
weekday                      354
weathersit                   354
temp                         332
atemp                        366
hum                          315
windspeed                    338
casual                       357
registered                   316
cnt                          355
user_activity_level            0
user_type                      0
income_level                   0
zone_type                      0
user_satisfaction              0
bike_infrastructure_score      0
air_pollution_index            0
public_transport_access        0
dtype: int64

### 3.1.3 Imputation des valeurs manquantes

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
data = pd.read_csv('datahour_v1.csv')

# Séparer les colonnes numériques et catégorielles
numerical_cols = data.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns

# Imputation pour les colonnes numériques (moyenne)
imputer_num = SimpleImputer(strategy='mean')
data[numerical_cols] = imputer_num.fit_transform(data[numerical_cols])

# Imputation pour les colonnes catégorielles (mode)
imputer_cat = SimpleImputer(strategy='most_frequent')
data[categorical_cols] = imputer_cat.fit_transform(data[categorical_cols])

# Vérification des valeurs manquantes après imputation
valeurs_manquantes_apres = data.isnull().sum().sum()
print(f"Valeurs manquantes après imputation : {valeurs_manquantes_apres}")

Valeurs manquantes après imputation : 0

## 3.2 Transformation

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Charger le fichier CSV
data = pd.read_csv('datahour_v1.csv')

# Créer un LabelEncoder
label_encoder = LabelEncoder()

# Liste des colonnes catégorielles à encoder
categorical_columns = [
    'user_activity_level',
    'user_type',
    'zone_type'
]

# Créer une copie du DataFrame pour les colonnes encodées
encoded_data = data.copy()

# Appliquer LabelEncoder à chaque colonne catégorielle et créer de nouvelles colonnes
for column in categorical_columns:
    # Encoder la colonne
    encoded_data[column + '_encoded'] = label_encoder.fit_transform(encoded_data[column])

# Vérifier les résultats avant de supprimer les colonnes d'origine
print(encoded_data[categorical_columns + [col + '_encoded' for col in categorical_columns]].head())

# Supprimer les colonnes d'origine
encoded_data = encoded_data.drop(columns=categorical_columns)

# Vérifier les résultats après suppression
print(encoded_data.head())

# Enregistrer les modifications dans un nouveau fichier CSV
encoded_data.to_csv('datahour_encode.csv', index=False)

## 3.3 Normalisation

#### Normalisation des variables numériques (MinMaxScaler)

In [ ]:
import pandas as pd
from sklearn.preprocessing import  MinMaxScaler

# Charger le fichier CSV
data = pd.read_csv('datahour_encode.csv')

# Créer instance MinMaxScaler
scaler = MinMaxScaler()


# Identifier toutes les colonnes à normaliser (incluant les colonnes encodées)
# On sélectionne toutes les colonnes à l'exception de la colonne d'identifiant (s'il y en a une)
columns_to_normalize = data.select_dtypes(include=['float64', 'int64']).columns.tolist()

# Normaliser toutes les colonnes
data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])

# Vérifier les résultats
print(data.head())

# Enregistrer les modifications dans un nouveau fichier CSV
data.to_csv('datahour_normalisation.csv', index=False)

## 3.4 Création de nouvelles fonctionnalités (Feature Engineering)

#### Extraction des caractéristiques de la date

In [ ]:
data = pd.read_csv('datahour_encode.csv')

# 1. Interaction entre Température et Humidité
data['temp_hum_interaction'] = data['temp'] * data['hum']

# 2. Ratio des Utilisateurs Occasionnels par Rapport aux Utilisateurs Enregistrés
data['casual_registered_ratio'] = data['casual'] / (data['registered'] + 1)

# 3. Binarisation de la Température
data['high_temp'] = (data['temp'] > 0.5).astype(int)

# 4. Score d'Expérience Utilisateur
data['user_experience_score'] = data['user_satisfaction'] + data['bike_infrastructure_score']

# 5. Moyenne des Locations par Type d'Utilisateur
user_type_avg_rentals = data.groupby('user_type_encoded')['cnt'].mean().reset_index()
user_type_avg_rentals.columns = ['user_type_encoded', 'avg_rentals']
data = data.merge(user_type_avg_rentals, on='user_type_encoded', how='left')

# Vérifier les nouvelles fonctionnalités
print(data[['temp_hum_interaction', 'casual_registered_ratio', 'high_temp', 'user_experience_score']].head())

data.to_csv('datahour_avec_nouvelles_fonctionnalites.csv', index=False)

# Partie 4: Modélisation

## 4.1 Séparation des features et de la cible (X et y)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
data = pd.read_csv('datahour_avec_nouvelles_fonctionnalites.csv')
# Définir les caractéristiques et la variable cible
X = data.drop(columns=['cnt'])  # Toutes les colonnes sauf 'cnt'
y = data['cnt']  # Variable cible
# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Créer une instance du modèle
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Entraîner le modèle
model.fit(X_train, y_train)
# Prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Évaluation du modèle
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse:.2f}')
print(f'R^2 Score: {r2:.2f}')

## 4.2 Validation croisée

In [ ]:
from sklearn.model_selection import cross_val_score
import numpy as np

scores = cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')
mse_scores = -scores  # Inverse des scores négatifs
print(f'Cross-validated MSE: {np.mean(mse_scores):.2f}')

## 4.3 KNN

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import MinMaxScaler

# Charger les données
data = pd.read_csv('datahour_avec_nouvelles_fonctionnalites.csv')

# Définir les caractéristiques et la variable cible
X = data.drop(columns=['cnt'])  # Toutes les colonnes sauf 'cnt'
y = data['cnt']  # Variable cible

# Normaliser les caractéristiques
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Créer une instance du modèle KNN avec le meilleur k trouvé
best_k = 7  # Le meilleur k trouvé
knn_model = KNeighborsRegressor(n_neighbors=best_k)

# Entraîner le modèle
knn_model.fit(X_train, y_train)

# Prédictions sur l'ensemble de test
y_pred = knn_model.predict(X_test)

# Évaluation du modèle
mse_knn = mean_squared_error(y_test, y_pred)
r2_knn = r2_score(y_test, y_pred)

print(f'Mean Squared Error (KNN avec k={best_k}): {mse_knn:.2f}')
print(f'R^2 Score (KNN avec k={best_k}): {r2_knn:.2f}')

In [ ]:
from sklearn.model_selection import GridSearchCV

# Définir la grille de recherche pour k
param_grid = {'n_neighbors': range(1, 21)}  # Tester k de 1 à 20

# Créer une instance de GridSearchCV
grid_search = GridSearchCV(KNeighborsRegressor(), param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

print("Meilleur k trouvé :", grid_search.best_params_)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
plt.scatter(y_test, y_pred)
plt.plot([y.min(), y.max()], [y.min(), y.max()], 'k--', lw=2)  # Ligne de référence
plt.xlabel('Valeurs Réelles')
plt.ylabel('Valeurs Prédites (KNN)')
plt.title('Valeurs Réelles vs Valeurs Prédites (KNN)')
plt.show()

## 4.4 Prédictions

In [ ]:
import pandas as pd

# Exemple de nouvelles entrées
nouvelles_entrees = {
    'weathersit': [1],  # Situation météorologique (1: Clair)
    'temp': [0.5],  # Température normalisée
    'atemp': [0.6],  # Température ressentie normalisée
    'hum': [0.4],  # Humidité relative normalisée
    'windspeed': [0.3],  # Vitesse du vent normalisée
    'casual': [5],  # Nombre de locations par utilisateurs occasionnels
    'registered': [15],  # Nombre de locations par utilisateurs enregistrés
    'cnt': [20],  # Nombre total de locations (pour référence, pas nécessaire pour prédiction)
    'income_level': [60000],  # Niveau de revenu moyen
    'user_satisfaction': [4],  # Indice de satisfaction
    'bike_infrastructure_score': [8],  # Score de l'infrastructure cyclable
    'air_pollution_index': [30],  # Indice de pollution de l'air
    'public_transport_access': [7],  # Accessibilité des transports publics
    'user_activity_level_encoded': [2],  # Encodage pour l'activité utilisateur (ex. : élevé)
    'user_type_encoded': [1],  # Encodage pour le type d'utilisateur (ex. : fréquent)
    'zone_type_encoded': [0],  # Encodage pour le type de zone (ex. : résidentiel)
    'temp_hum_interaction': [0.5 * 0.4],  # Interaction entre temp et hum
    'casual_registered_ratio': [5 / (5 + 15)],  # Ratio des utilisateurs occasionnels
    'high_temp': [1 if 0.5 > 0.5 else 0],  # Flag pour haute température
    'user_experience_score': [4],  # Score d'expérience utilisateur
    'avg_rentals': [10]  # Exemple de moyenne des locations
}

# Créer un DataFrame pour les nouvelles entrées
df_nouvelles_entrees = pd.DataFrame(nouvelles_entrees)

# Vérifier le nombre de colonnes
print("Nombre de colonnes dans les nouvelles entrées :", df_nouvelles_entrees.shape[1])

# Vérifier les colonnes
print("Nouvelles Entrées:\n", df_nouvelles_entrees)

# Faire des prédictions avec le modèle KNN
predictions = knn_model.predict(df_nouvelles_entrees)

# Afficher les prédictions
print("Prédictions des locations de vélos :", predictions)

In [ ]:
import matplotlib.pyplot as plt

# Comparer les valeurs réelles et prédites
plt.figure(figsize=(10, 5))
plt.scatter(y_test, y_pred, alpha=0.7)
plt.title('Valeurs Réelles vs Prédictions')
plt.xlabel('Valeurs Réelles')
plt.ylabel('Prédictions')
plt.plot([0, max(y_test)], [0, max(y_test)], color='red', linestyle='--')  # ligne y=x
plt.grid()
plt.show()

# Partie 5: Évaluation du modèle

## 5.1 Évaluation des performances du modèle (MAE, RMSE, R2)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"MAE : {mae}")
print(f"RMSE : {rmse}")
print(f"R² : {r2}")

# Partie 6: Déploiement

### Étapes du déploiement :
1. **Enregistrer le modèle** : Vous pouvez utiliser `joblib` ou `pickle` pour sauvegarder votre modèle.
2. **Utiliser Flask ou Streamlit** pour déployer une API ou une application web qui effectue les prédictions en temps réel.
3. **Surveiller les performances** du modèle en production et réentraîner si nécessaire.

### Enregistrement du modèle dans un fichier :

In [139]:
import joblib

# Sauvegarder le modèle
joblib.dump(modele, 'modele_location_velos.pkl')

# Charger le modèle plus tard
modele_charge = joblib.load('modele_location_velos.pkl')